.item-box {
  width: 15rem;
  height: 6rem;
  font-size: 1.5rem;
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 10px;
  background-color: rgb(88, 88, 88);
  /* transition: visibility 0.1s; */
  /* transition-delay: 110ms; */
  cursor: pointer;
  word-wrap: break-word;
  overflow: hidden;
  /* padding: 0.5rem; */
}

.item-box:hover {
  background-color: rgb(121, 121, 121);
}

.item-box.active {
  visibility: hidden;
}

.item-box > p {
  /* padding: 0 0.5rem; */
  margin: 0.5rem;
}

.edit-scene {
  perspective: 1500px;
  transition: all ease 0.8s;
  z-index: 99999;
  /* background-color: red; */
  /* transform: translate(-50%, -50%); */
  animation: transform-centre 0.8s ease 0s 1 normal both;
  /* transform-style: preserve-3d; */
}

.edit-scene.active {
  animation: transform-out 0.8s ease 0s 1 normal both;
}

.edit-item {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transform-origin: center right;
  transition: all ease 0.8s;
  transform-style: preserve-3d;
  animation: flip-out 0.8s linear 0s 1 normal both;
}

.edit-item.active {
  animation: flip-in 0.8s linear 0s 1 normal both;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: white 1px solid;
  border-radius: 10px;
  overflow: hidden;
  backface-visibility: hidden;
}

.face.front {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  /* padding: 0 0.5rem; */
  background-color: rgb(88, 88, 88);
}

.face.front > p {
  margin: 0.5rem;
}

.face.back {
  height: 100%;
  width: 100%;
  background-color: rgb(39, 39, 39);
  transform: rotateY(180deg);
  overflow-y: auto;
}

@keyframes transform-centre {
  from {
    transform: translate(0, 0);
  }
  to {
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
  }
}

@keyframes transform-out {
  from {
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes flip-out {
  from {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
  to {
    transform: translateX(-100%) rotateY(180deg) translate(50%, -50%);
    height: 40rem;
    max-height: 75vh;
    width: 50rem;
    max-width: 90vw;
  }
}

@keyframes flip-in {
  from {
    transform: translateX(-100%) rotateY(180deg) translate(50%, -50%);
    height: 40rem;
    max-height: 75vh;
    width: 50rem;
    max-width: 90vw;
  }
  to {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 1223px) {
  .item-box {
    width: 12rem;
  }
}
