.factory-builder {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.ui {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.map {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: hidden;
  height: 80vh;
  margin: 2rem;
}

.grid {
  display: grid;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.generation {
  display: flex;
  flex-direction: column;
}

.container.building-step {
  display: block;
  background-color: rgba(255, 255, 255, 0.151);
  width: 25rem;
  align-self: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.3rem;
  user-select: none;
  /* height: 22rem; */
  /* min-height: auto; */
}

.item-inputs,
.item-outputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-input,
.item-output {
  text-align: center;
  border: rgba(255, 255, 255, 0.452) 1px solid;
  padding: 0 1rem;
}

.item-input.under {
  border-color: red;
}

.analysis.inputs {
  display: flex;
  flex-direction: row;
}

.factory-totals {
  display: block;
}

.factory-totals > .inputs {
  display: flex;
  flex-direction: column;
}
