.factory-builder {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* .ui {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
} */

.map,
.ui {
  border: 1px solid white;
  border-radius: 0.5rem;
  /* padding: 1rem; */
  /* overflow: hidden; */
  height: 80vh;
  margin: 2rem 1rem;
  position: relative;
}

.ui {
  display: inline-block;
  min-width: fit-content;
  overflow-y: auto;
}

.ui-component {
  padding: 1rem;
}

.map {
  overflow: hidden;
  margin-left: 0;
  width: 100vw;
}

.icon.centre {
  fill: white;
}

.ui-switches {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  /* justify-content: space-around; */
  /* flex-grow: 1; */
}

.ui-switch {
  flex-grow: 1;
  border: none;
  outline: none;
  background: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 900;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  padding: 0 1rem;
}

.ui-switch.active {
  background-color: var(--accent-color);
}

.ui-switch.active:hover {
  background-color: var(--accent-color);
}

.ui-switch:hover {
  background-color: rgba(255, 255, 255, 0.212);
  /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.705); */
}

.grid {
  position: relative;
  display: grid;
  transform-origin: center center;
  /* background-color: thistle; */
  width: fit-content;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.container.building-step {
  display: grid;
  background-color: rgba(255, 255, 255, 0.151);
  width: 25rem;
  align-self: center;
  padding: 1rem;
  /* margin: 1rem; */
  border-radius: 0.3rem;
  user-select: none;
  min-width: fit-content;
  border-radius: 0.3rem;
}
.container.building-step.highlight {
  border: solid 1px var(--accent-color);
}

.building-step.temp {
  background-color: rgba(255, 255, 255, 0.055);
  min-height: 15rem;
  border: var(--accent-color) solid 2px;
}

.container.building-step > h1 {
  text-align: center;
}

button.new-step {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  z-index: 4;
  cursor: pointer;
}

.icon.new-step {
  fill: white;
  transition: 0.2s;
}

button.new-step:hover .icon.new-step {
  fill: var(--accent-color);
}

.build {
  font: inherit;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 10rem;
  justify-self: center;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.build:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 6px rgba(161, 220, 255, 0.829);
}

.item-outputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-inputs,
.main-products,
.by-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  gap: 1rem;
  /* min-width: fit-content; */
  /* flex-grow: 1; */
}

.item-input,
.item-output {
  text-align: center;
  border: rgba(255, 255, 255, 0.452) 2px solid;
  padding: 0 1rem;
  transition: 0.3s;
  cursor: pointer;
  width: 7rem;
}

.item-output.by-product {
  border-color: rgb(243, 171, 16);
}

.item-input:hover,
.item-output:hover {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.068);
}

.item-output > input {
  border: none;
  outline: none;
  width: 5rem;
  font-size: 1rem;
  margin: 1rem;
}

.item-input.under {
  border-color: red;
}

.item-input.over {
  border-color: yellow;
}

.analysis.inputs {
  display: flex;
  flex-direction: row;
}

.factory-totals {
  display: block;
}

.factory-totals > .inputs {
  display: flex;
  flex-direction: column;
}

.wrapper {
  /* pointer-events: all;
  cursor: pointer; */
  /* background-color: red; */
  width: fit-content;
  justify-self: end;
  cursor: pointer;
}

.alt-outputs:hover > .display {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  /* border: solid rgb(255, 255, 255) 1px;
   */
  border-color: white;
  background-color: rgba(0, 0, 0, 0.096);
  /* font-weight: bold; */
}

.alt-outputs {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  /* background-color: red; */
  width: 10rem;
  /* justify-self: right; */
}

.alt-outputs.edit-mode {
  /* pointer-events: none; */
}

.alt-outputs > label {
  display: inline-block;
  padding: 0.5rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 4rem;
  cursor: inherit;
  /* width: 20rem; */
  /* background-color: white; */
}

.alt-outputs > input {
  padding: 0.4rem;
  background-color: white;
  outline: none;
  border: white 1px solid;
  border-radius: 0.2rem;
  font-size: inherit;
  width: 2.5rem;
}

.alt-outputs > .display {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.123);
  padding: 0.5rem;
  font-size: inherit;
  font-weight: bold;
  border-radius: 0.2rem;
  transition: 0.4s;
  border: solid rgb(112, 112, 112) 1px;
  min-width: 2rem;
  text-align: right;
  /* font-size: 1rem; */
}

.scroll {
  position: absolute;
  /* background-color: rgba(255, 255, 255, 0.015); */
  height: 60px;
  width: 60px;
  /* top: 0;
  left: 0; */
  z-index: 1;
  /* pointer-events: none; */
}

.scroll.top,
.scroll.bottom {
  left: 0;
  height: 60px;
  width: 100%;
}

.scroll.left,
.scroll.right {
  top: 0;
  height: 100%;
  width: 60px;
}

.scroll.left {
  left: 0;
}

.scroll.right {
  right: 0;
}

.scroll.top {
  top: 0;
}

.scroll.bottom {
  bottom: 0;
}

.recipe-selector {
  position: absolute;
  width: 17rem;
  border: 1px solid rgba(255, 255, 255, 0.363);
  background: rgb(43, 43, 43);
  z-index: 1;
  /* min-height: 15rem; */
}

.recipe-selector > button {
  width: 100%;
  border: 1px solid white;
  font-family: inherit;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s;
}
.recipe-selector > button:hover {
  background-color: var(--accent-color);
}
/* .alt-outputs > input:read-only {
  background-color: rgba(255, 255, 255, 0.123);
  width: min-content;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  color: white;
} */
